In [1]:
import sys
import io
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [4]:
url = "https://finance.naver.com/item/main.nhn?code=000100"
page = urlopen(url)
soup = BeautifulSoup(page, "html.parser")

In [5]:
soup.title

In [7]:
content_tag = soup.find("div", id="content")
content_tag

<div id="content">
<div class="spot" id="chart_area"><!-- chart가 사라질때  <div class="spot spot_short">-->
<div class="rate_info">
<dl class="blind">
<dt><strong>유한양행</strong></dt>
<dd>오늘의시세 63,200 포인트</dd>
<dd>600 포인트 하락</dd>
<dd>0.94% 마이너스</dd>
</dl>
<div class="today">
<p class="no_today">
<em class="no_down">
<span class="blind">63,200</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_down">
<span class="ico down">하락</span>
<span class="blind">600</span>
<span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_down">
<span class="ico minus">-</span>
<span class="blind">0.94</span>
<span class="no0">0</span><span class="jum">.</span><span class="no9">9</span><span class="no4">4</span>
<span class="per">%</span>
</em>
</p>
</div>
<table class="no_info" summary="주요 시세(전일종가, 시고저가, 거래량, 거래대금)을 제공합니다.">
<caption>주요 시세</caption>
<colgroup><col/><col width="214"/><col width="157"/></colgroup>
<tr>
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">63,800</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">82,900</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt9">거래량</span>
<em>
<span class="blind">55,329</span>
<span class="no5">5</span><span class="no5">5</span><span class="shim">,</span><span class="no3">3</span><span class="no2">2</span><span class="no9">9</span>
</em>
</td>
</tr>
<tr>
<td class="first">
<span class="sptxt sp_txt3">시가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt5">저가</span>
<em class="no_down">
<span class="blind">63,000</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt7">(하한가</span>
<em class="no_cha">
<span class="no4">4</span><span class="no4">4</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt10">거래대금</span>
<em>
<span class="blind">3,499</span>
<span class="no3">3</span><span class="shim">,</span><span class="no4">4</span><span class="no9">9</span><span class="no9">9</span>
</em>
<span class="sptxt sp_txt11">백만</span>
</td>
</tr>
</table>
</div>
<div class="chart">
<p class="blind">종목 시세 차트</p>
<div class="chart_control_area">
<dl class="line">
<dt>선차트</dt>
<dd>
<ul>
<li class="day"><a class="on" href="#" onclick="showChart('day')">1일</a></li>
<li class="week"><a href="#" onclick="showChart('week')">1주일</a></li>
<li class="month3"><a href="#" onclick="showChart('month3');">3개월</a></li>
<li class="year"><a href="#" onclick="showChart('year');">1년</a></li>
<li class="year3"><a href="#" onclick="showChart('year3');">3년</a></li>
<li class="year5"><a href="#" onclick="showChart('year5');">5년</a></li>
<li class="year10"><a href="#" onclick="showChart('year10');">10년</a></li>
</ul>
</dd>
</dl>
<dl class="bar">
<dt>봉차트</dt>
<dd>
<ul>
<li class="day"><a href="#" onclick="showBarChart('day');">일봉</a></li>
<li class="week"><a href="#" onclick="showBarChart('week');">주봉</a></li>
<li class="month"><a href="#" onclick="showBarChart('month');">월봉</a></li>
</ul>
</dd>
</dl>
</div>
<h5 class="blind">이미지 차트</h5>
<img alt="이미지 차트" height="289" id="img_chart_area" onerror="this.src='https://ssl.pstatic.net/imgstock/chart3/world2008/error_700x289.png'" src="https://ssl.pstatic.net/imgfinance/chart/item/area/day/000100.png?sidcode=1623890008266" width="700"/>
</div>
<a class="btn_close" href="javascript:fchartStatus.showChartArea('000100', '%C0%AF%C7%D1%BE%E7%C7%E0', 'false')" onclick="clickcr(this,'sop.toggle','','',event);">
<div id="btn_close">
<img alt="차트닫기" height="11" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_lay_close.gif" width="45"/>
</div>
</a>
</div>
<script id="summaryTpl" type="text/template">
	<div class="today">
		<p class="no_today">
			{if rf == 1 || rf == 2}
				<em class="no_up">
			{elseif rf == 4 || rf == 5}
				<em class="no_down">
			{else}
				<em class="X">
			{/if}
			{js numberFont(changeNumberFormat(=nv))}
			</em>
		</p>
		<p class="no_exday">
			<span class="sptxt sp_txt1">전일대비</span>
			{if rf == 1}
					<em class="no_up">
						<span class="ico up_price">상한가</span>
			{elseif rf == 2}
					<em class="no_up">
						<span class="ico up">상승</span>
			{elseif rf == 4}
					<em class="no_down">
						<span class="ico down_price">하한가</span>
			{elseif rf == 5}
					<em class="no_down">
						<span class="ico down">하락</span>
			{else}
					<em class="X">
						<span class="ico sam">보합</span>
			{/if}
			{js numberFont(changeNumberFormat(=cv))}
			</em>

			<span class="bar">l</span>
			{if rf == 1 || rf == 2}
					<em class="no_up">
						<span class="ico plus">+</span>
			{elseif rf == 4 || rf == 5}
					<em class="no_down">
						<span class="ico minus">-</span>
			{else}
					<em class="X">
			{/if}
			{if cr != null}
					{js numberFont(changeNumberFormat(=cr.toFixed(2)))}
			{/if}
				<span class="per">%</span>
			</em>
		</p>
	</div>
	<table summary="주요 시세(전일종가, 시고저가, 거래량, 거래대금)을 제공합니다." class="no_info">
	<caption>주요 시세</caption>
	<colgroup><col><col width="214"><col width="157"></colgroup>
	<tr>
		<td class="first">
			<span class="sptxt sp_txt2">전일</span>
			<em>
                {if sv == 0}
				{js numberFont(changeNumberFormat(=pcv))}
                {else}
				{js numberFont(changeNumberFormat(=sv))}
                {/if}
			</em>
		</td>
		<td>
			<span class="sptxt sp_txt4">고가</span>
			{if tyn == "Y"}
				<em>
			{else}
				{if hv == 0}
				<em>
				{elseif pcv < hv}
				<em class="no_up">
				{elseif pcv > hv}
				<em class="no_down">
				{else}
				<em>
				{/if}
			{/if}
			{if ms == "PREOPEN"}
				{js numberFont(0)}
			{else}
				{js numberFont(changeNumberFormat(=hv))}
			{/if}
			</em>
			<span class="sptxt sp_txt6">(상한가</span>
			<em class="no_cha">
				{if ms == "PREOPEN"}
					{js numberFont(0)}
				{else}
					{js numberFont(changeNumberFormat(=ul))}
				{/if}
			</em>
			<span class="sptxt sp_txt8">)</span>
		</td>
		<td>
			<span class="sptxt sp_txt9">거래량</span>
			<em>
				{js numberFont(changeNumberFormat(=aq))}
			</em>
		</td>
	</tr>
	<tr>
		<td class="first">
			<span class="sptxt sp_txt3">시가</span>
			{if tyn == "Y"}
				<em>
			{else}
				{if ov == 0}
				<em>
				{elseif pcv < ov}
				<em class="no_up">
				{elseif pcv > ov}
				<em class="no_down">
				{else}
				<em>
				{/if}
			{/if}
			{if ms == "PREOPEN"}
				{js numberFont(0)}
			{else}
				{js numberFont(changeNumberFormat(=ov))}
			{/if}
			</em>
		</td>
		<td>
			<span class="sptxt sp_txt5">저가</span>
			{if tyn == "Y"}
				<em>
			{else}
				{if lv == 0}
				<em>
				{elseif pcv < lv}
				<em class="no_up">
				{elseif pcv > lv}
				<em class="no_down">
				{else}
				<em>
				{/if}
			{/if}
			{if ms == "PREOPEN"}
				{js numberFont(0)}
			{else}
				{js numberFont(changeNumberFormat(=lv))}
			{/if}
			</em>
			<span class="sptxt sp_txt7">(하한가</span>
			<em class="no_cha">
				{if ms == "PREOPEN"}
					{js numberFont(0)}
				{else}
					{js numberFont(changeNumberFormat(=ll))}
				{/if}
			</em>
			<span class="sptxt sp_txt8">)</span>
		</td>
		<td>
			<span class="sptxt sp_txt10">거래대금</span>
			<em>
				{js numberFont(changeNumberFormat((=aa/1000000).toFixed(0)))}
			</em>
			<span class="sptxt sp_txt11">백만</span>
		</td>
	</tr>
	</table>
</script>
<script type="text/javascript">
var pollingInterval = 2000;
var timer = null;
var pollingAjax = null;
var itemcodes = '';

var startTimer = function() {
	clearTimer();
	timer = setInterval('doPolling()', pollingInterval);
}

var clearTimer = function() {
	if (pollingAjax) {
		pollingAjax.abort();
		pollingAjax = null;
	}

	timer = window.clearInterval(timer);
}

var doPolling = function() {
	var pollingApiUrl = "https://polling.finance.naver.com/api/realtime?query=SERVICE_ITEM:" + "000100"

	if (requestType == 'recent' && itemcodes != "") {
		pollingApiUrl += "|" + "SERVICE_RECENT_ITEM:" + itemcodes;
	} else if (requestType == 'mystock' && itemcodes != ""){
		pollingApiUrl += "|" + "SERVICE_MYSTOCK_ITEM:" + itemcodes;
	}

	pollingAjax = jindo.$Ajax(pollingApiUrl, {
		type : 'jsonp',
		jsonp_charset : "euc-kr",
		onload : function(response) {
			if(response != null && response.readyState() == 4) {
				refreshQuote(response.json());
				startTimer();
			}
		},
		timeout : 2,
		ontimeout : function() {
			startTimer();
		},
		async : true
	});
	pollingAjax.request();
}

function displayTime(ms, time) {
	var result;

	var utcDate = new Date(time);
	utcDate.setMinutes(utcDate.getMinutes() + utcDate.getTimezoneOffset());
	utcDate.setHours(utcDate.getHours() + 9);

	var oDate = jindo.$Date(utcDate);

	if (ms == "PREOPEN") {
		closeDate = oDate.format('Y.m.d')
		result = '<em class="date">' + oDate.format('Y.m.d') + ' <span>기준(개장전)</span></em> ';
	} else if (ms == "CLOSE") {
		result = '<em class="date">' + closeDate + ' <span>기준(장마감)</span></em> ';
	} else {
		closeDate = oDate.format('Y.m.d')
		result = '<em class="date">' + oDate.format('Y.m.d H:i') + ' <span>기준(장중)</span></em> ';
	}

	return result;
}

/**
 * 우측상단 투자정보 영역 중, NAV 값 갱신
 */
function refreshEtfNav(etfNav) {
	var elEtfNav = jindo.$Element(jindo.$$.getSingle("#on_board_last_nav"));
	if (elEtfNav != null) {
		if (etfNav != null) {
			elEtfNav.html("<em><strong>" + changeNumberFormat(etfNav.toFixed(0)) + "</strong></em>");
		} else {
			elEtfNav.html("<em><strong>N/A</strong></em>");
		}
	}
}

function refreshInvestmentSummary(nv) {
	if (!(false && false && false)) {
		return;
	}

	var averageBuyingPrice = 0;
	var holdingShares = 0;

	var elEvaluationProfitAmount = jindo.$Element(jindo.$$.getSingle("#evaluation_profit_amount"));
	// 평가손익 = (nv - 평균매입가) * 보유수량
	var evaluationProfitAmount = (nv - 0) * 0;
	// 평가수익률 = 평가손익 / (평균매입가 * 보유수량) * 100
	var evaluationProfitRate = evaluationProfitAmount / (0 * 0) * 100;

	var sPointClass = "";
	var sSign = "";
	if (evaluationProfitAmount > 0) {
		sPointClass = "f_up";
		sSign = "+";
	} else {
		sPointClass = "f_down";
		sSign = "";
	}

	var evaluationProfitAmoutText = ""
	if (evaluationProfitAmount > 10000000000) {
		var evaluationProfitAmountDivideBillion = evaluationProfitAmount / 100000000;
		evaluationProfitAmountText = "<em>" + sSign + changeNumberFormat(evaluationProfitAmountDivideBillion.toFixed(0)) + "억</em>";
	} else {
		evaluationProfitAmountText = "<em>" + sSign + changeNumberFormat(evaluationProfitAmount) + "</em>";
	}

	if (elEvaluationProfitAmount != null) {
		elEvaluationProfitAmount.removeClass("f_up");
		elEvaluationProfitAmount.removeClass("f_down");
		elEvaluationProfitAmount.addClass(sPointClass);
		elEvaluationProfitAmount.html(evaluationProfitAmountText);
	}

	var elEvaluationProfitRate = jindo.$Element(jindo.$$.getSingle("#evaluation_profit_rate"));
	if (elEvaluationProfitRate != null) {

		elEvaluationProfitRate.removeClass("f_up");
		elEvaluationProfitRate.removeClass("f_down");
		elEvaluationProfitRate.addClass(sPointClass);

		elEvaluationProfitRate.html("<em>" + sSign + changeNumberFormat(evaluationProfitRate.toFixed(2)) + "%</em>");
	}
}


function refreshCompanyValue(json) {
	var sPer = "N/A";
	var sKrxPer = "N/A";
	/* if ((json.per !== undefined) && (json.per !== null)) {
		sPer = converToFixedPointNotation(json.per, 2);
	}

	jindo.$A(jindo.$$("#_per")).forEach(function(v) {
		jindo.$Element(v).text(sPer);
	}, this); */

	if ((json.eps !== undefined) && (json.eps !== null)) {
		sPer = converToFixedPointNotation(json.nv / json.eps, 2);
	}

	jindo.$A(jindo.$$("#_per")).forEach(function(v) {
		jindo.$Element(v).text(sPer);
	}, this);

	if ((json.keps !== undefined) && (json.keps !== null)) {
		sKrxPer = converToFixedPointNotation(json.nv / json.keps, 2);
	}

	jindo.$A(jindo.$$("#krx_per")).forEach(function(v) {
		jindo.$Element(v).text(sKrxPer);
	}, this);

	var sCnsPer = "N/A";
	if ((json.cnsEps !== undefined) && (json.cnsEps !== null)) {
		sCnsPer = converToFixedPointNotation(json.nv / json.cnsEps, 2);
	}

	jindo.$A(jindo.$$("#_cns_per")).forEach(function(v) {
		jindo.$Element(v).text(sCnsPer);
	}, this);

	var sPbr = "N/A";
	if ((json.bps !== undefined) && (json.bps !== null)) {
		var bps = converToFixedPointNotation(json.bps, 0)
		sPbr = converToFixedPointNotation(json.nv / bps, 2);
	}

	jindo.$A(jindo.$$("#_pbr")).forEach(function(v) {
		jindo.$Element(v).text(sPbr);
	}, this);

	var sDvr = "N/A";
	if ((json.dv !== undefined) && (json.dv !== null)) {
		var dv = converToFixedPointNotation(json.dv, 0)
		sDvr = converToFixedPointNotation((dv * 100)/ json.nv, 2);
	}

	jindo.$A(jindo.$$("#_dvr")).forEach(function(v) {
		jindo.$Element(v).text(sDvr);
	}, this);
}

function refreshQuote(res) {
	if(res != null && res.resultCode == 'success') {
		pollingInterval = res.result.pollingInterval;

		for (var index = 0 ; index < res.result.areas.length ; index++) {
			if (res.result.areas[index].name == "SERVICE_ITEM") {
				var ms = "NOT DEFINED";
				ms = res.result.areas[index].datas[0].ms;
				document.getElementById("time").innerHTML = displayTime(ms, res.result.time);

				jindo.$Element(jindo.$$.getSingle("#chart_area .rate_info")).html(jindo.$Template("summaryTpl").process(res.result.areas[index].datas[0]));

				refreshInvestmentSummary(res.result.areas[index].datas[0].nv);
				refreshEtfNav(res.result.areas[index].datas[0].nav);
				refreshCompanyValue(res.result.areas[index].datas[0]);
			} else if (res.result.areas[index].name == "SERVICE_RECENT_ITEM") {
				renderRecentAreaRealtime("recent", res.result.areas[index]);
			} else if (res.result.areas[index].name == "SERVICE_MYSTOCK_ITEM") {
				renderRecentAreaRealtime("mystock", res.result.areas[index]);
			}
		}
	}
}

function numberFont(value) {
	value = value + "";
	var result = "";

	for (i = 0; i < value.length; i++) {
		var tmpChar = value.charAt(i);

		result += '<span class="';
		if (tmpChar == ".") {
			result += "jum";
		} else if (tmpChar == ",") {
			result += "shim";
		} else {
			result += "no" + tmpChar;
		}
		result += '">' + tmpChar + '</span>';
	}

	return result;
}

function changeNumberFormat(vNumber){
	var sUnderNumber = "";
	var sNumberString = vNumber || 0;
	sNumberString = (typeof sNumberString != "String") ? String(sNumberString) : sNumberString;

	if(sNumberString.indexOf(".") > -1){
		var aNumber = sNumberString.split(".");
		sNumberString = aNumber[0];
		sUnderNumber = "." + aNumber[1];
	}

	return sNumberString.replace(/(\d)(?=(\d{3})+$)/igm, "$1,") + sUnderNumber;
}

function converToFixedPointNotation (nNumber, nDecimalLength){
	return parseFloat(nNumber).toFixed(nDecimalLength || 0);
}

// 1분마다 정보 업데이트
var updateInformationInterval = 60000;
var informationTimer = null;
var oUpdateAjax = null;

var startInformationTimer = function() {
	clearInformationTimer();
	informationTimer = setInterval('doUpdateInformation()', updateInformationInterval);
}

var clearInformationTimer = function() {
	if (oUpdateAjax) {
		oUpdateAjax.abort();
		oUpdateAjax = null;
	}

	informationTimer = window.clearInterval(informationTimer);
}

var doUpdateInformation = function() {
	var sApiUrl = "https://api.finance.naver.com/service/itemSummary.naver?itemcode=000100"

	oUpdateAjax = jindo.$Ajax(sApiUrl, {
		type : 'jsonp',
		jsonp_charset : "utf-8",
		onload : function(response) {
			if(response != null && response.readyState() == 4) {
				var json = response.json();

				if (json.now == undefined) {
					startInformationTimer();
					return;
				}

				var sMarketSum = (json.marketSum + "");
				sMarketSum = sMarketSum.substring(0, sMarketSum.length - 2);
				sMarketSum = changeNumberFormat(sMarketSum);

				var sPer = changeNumberFormat(json.per);
				var sEps = changeNumberFormat(json.eps);
				var sNowVal = changeNumberFormat(json.now);
				var sDiff = changeNumberFormat(json.diff);
				var sRate = changeNumberFormat(json.rate) + "%";
				var sQuant = changeNumberFormat(json.quant);
				var sAmount = changeNumberFormat(json.amount);
				var sHigh = changeNumberFormat(json.high);
				var sLow = changeNumberFormat(json.low);

				if (sRate == "0%") {
					sRate = "0.00%";
				}

				if (json.per == undefined) {
					sPer = "N/A";
				}

				if (json.eps == undefined) {
					sEps = "N/A";
				}

				jindo.$A(jindo.$$("#_sise_market_sum")).forEach(function(v) {
					jindo.$Element(v).text(sMarketSum);
				}, this);

				jindo.$A(jindo.$$("#_sise_per")).forEach(function(v) {
					jindo.$Element(v).text(sPer);
				}, this);

				jindo.$A(jindo.$$("#_sise_eps")).forEach(function(v) {
					jindo.$Element(v).text(sEps);
				}, this);

				jindo.$A(jindo.$$("#_nowVal")).forEach(function(v) {
					jindo.$Element(v).text(sNowVal);
				}, this);

				jindo.$A(jindo.$$("#_diff")).forEach(function(v) {
					var sFormat = null;
					var sDiffToDisplay = sDiff.replace("-", "");

					if (json.risefall == 1) {
						sFormat = "<em class=\"bu_p bu_pup2\" style=\"margin:0 4px 0 0\"><span class=\"blind\">상한</span></em><span class=\"tah p11 red01\">%s</span>";
					} else if (json.risefall == 2) {
						sFormat = "<em class=\"bu_p bu_pup\" style=\"margin:0 4px 0 0\"><span class=\"blind\">상승</span></em><span class=\"tah p11 red01\">%s</span>";
					} else if (json.risefall == 3) {
						sFormat = "<span class=\"tah p11\">%s</span>";
					} else if (json.risefall == 4) {
						sFormat = "<em class=\"bu_p bu_pdn2\" style=\"margin:0 4px 0 0\"><span class=\"blind\">하한</span></em><span class=\"tah p11 nv01\">%s</span>";
					} else {
						sFormat = "<em class=\"bu_p bu_pdn\" style=\"margin:0 4px 0 0\"><span class=\"blind\">하락</span></em><span class=\"tah p11 nv01\">%s</span>";
					}

					var sHtml = jindo.$S(sFormat).format(sDiffToDisplay);

					jindo.$Element(v).html(sHtml);
				}, this);

				jindo.$A(jindo.$$("#_rate")).forEach(function(v) {
					var sCss = "red01";
					var sRateToDisplay = sRate;

					if (sRate.indexOf("-") > -1) {
						sCss = "nv01";
					} else if (sRate.indexOf("0.00") > -1) {
						sCss = "";
					} else {
						sRateToDisplay = "+" + sRateToDisplay;
					}

					var sHtml = "<span class=\"tah p11 " + sCss + "\">" + sRateToDisplay + "</span>";
					jindo.$Element(v).html(sHtml);
				}, this);

				jindo.$A(jindo.$$("#_quant")).forEach(function(v) {
					jindo.$Element(v).text(sQuant);
				}, this);

				jindo.$A(jindo.$$("#_amount")).forEach(function(v) {
					jindo.$Element(v).text(sAmount);
				}, this);

				jindo.$A(jindo.$$("#_high")).forEach(function(v) {
					jindo.$Element(v).text(sHigh);
				}, this);

				jindo.$A(jindo.$$("#_low")).forEach(function(v) {
					jindo.$Element(v).text(sLow);
				}, this);

				startInformationTimer();
			}
		},
		timeout : 2,
		ontimeout : function() {
			startInformationTimer();
		},
		async : true
	});
	oUpdateAjax.request();
}

var dateTime = "20210617093326";
var closeDate = dateTime.substring(0,4) + "." + dateTime.substring(4,6) + "." + dateTime.substring(6,8);



/**

In [14]:
# content 태그의 자녀 태그들 확인해보기.

flag = 1
for tag in content_tag.findChildren():
    print(tag)
    print('-------------------------------------------------', flag)
    flag += 1

<div class="spot" id="chart_area"><!-- chart가 사라질때  <div class="spot spot_short">-->
<div class="rate_info">
<dl class="blind">
<dt><strong>유한양행</strong></dt>
<dd>오늘의시세 63,200 포인트</dd>
<dd>600 포인트 하락</dd>
<dd>0.94% 마이너스</dd>
</dl>
<div class="today">
<p class="no_today">
<em class="no_down">
<span class="blind">63,200</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_down">
<span class="ico down">하락</span>
<span class="blind">600</span>
<span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_down">
<span class="ico minus">-</span>
<span class="blind">0.94</span>
<span class="no0">0</span><span class="jum">.</span><span class="no9">9</span><span class="no4">4</span>
<span class="per">%</span>
</em>
</p>
</div>
<table class="no_info" summary="주요 시세(전일종가, 시고저가, 거래량, 거래대금)을 제공합니다.">
<caption>주요 시세</caption>
<colgroup><col/><col width="214"/><col width="157"/></colgroup>
<tr>
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">63,800</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">82,900</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt9">거래량</span>
<em>
<span class="blind">55,329</span>
<span class="no5">5</span><span class="no5">5</span><span class="shim">,</span><span class="no3">3</span><span class="no2">2</span><span class="no9">9</span>
</em>
</td>
</tr>
<tr>
<td class="first">
<span class="sptxt sp_txt3">시가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt5">저가</span>
<em class="no_down">
<span class="blind">63,000</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt7">(하한가</span>
<em class="no_cha">
<span class="no4">4</span><span class="no4">4</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt10">거래대금</span>
<em>
<span class="blind">3,499</span>
<span class="no3">3</span><span class="shim">,</span><span class="no4">4</span><span class="no9">9</span><span class="no9">9</span>
</em>
<span class="sptxt sp_txt11">백만</span>
</td>
</tr>
</table>
</div>
<div class="chart">
<p class="blind">종목 시세 차트</p>
<div class="chart_control_area">
<dl class="line">
<dt>선차트</dt>
<dd>
<ul>
<li class="day"><a class="on" href="#" onclick="showChart('day')">1일</a></li>
<li class="week"><a href="#" onclick="showChart('week')">1주일</a></li>
<li class="month3"><a href="#" onclick="showChart('month3');">3개월</a></li>
<li class="year"><a href="#" onclick="showChart('year');">1년</a></li>
<li class="year3"><a href="#" onclick="showChart('year3');">3년</a></li>
<li class="year5"><a href="#" onclick="showChart('year5');">5년</a></li>
<li class="year10"><a href="#" onclick="showChart('year10');">10년</a></li>
</ul>
</dd>
</dl>
<dl class="bar">
<dt>봉차트</dt>
<dd>
<ul>
<li class="day"><a href="#" onclick="showBarChart('day');">일봉</a></li>
<li class="week"><a href="#" onclick="showBarChart('week');">주봉</a></li>
<li class="month"><a href="#" onclick="showBarChart('month');">월봉</a></li>
</ul>
</dd>
</dl>
</div>
<h5 class="blind">이미지 차트</h5>
<img alt="이미지 차트" height="289" id="img_chart_area" onerror="this.src='https://ssl.pstatic.net/imgstock/chart3/world2008/error_700x289.png'" src="https://ssl.pstatic.net/imgfinance/chart/item/area/day/000100.png?sidcode=1623890008266" width="700"/>
</div>
<a class="btn_close" href="javascript:fchartStatus.showChartArea('000100', '%C0%AF%C7%D1%BE%E7%C7%E0', 'false')" onclick="clickcr(this,'sop.toggle','','',event);">
<div id="btn_close">
<img alt="차트닫기" height="11" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_lay_close.gif" width="45"/>
</div>
</a>
</div>
------------------------------------------------- 1
<div class="rate_info">
<dl class="blind">
<dt><strong>유한양행</strong></dt>
<dd>오늘의시세 63,200 포인트</dd>
<dd>600 포인트 하락</dd>
<dd>0.94% 마이너스</dd>
</dl>
<div class="today">
<p class="no_today">
<em class="no_down">
<span class="blind">63,200</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_down">
<span class="ico down">하락</span>
<span class="blind">600</span>
<span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_down">
<span class="ico minus">-</span>
<span class="blind">0.94</span>
<span class="no0">0</span><span class="jum">.</span><span class="no9">9</span><span class="no4">4</span>
<span class="per">%</span>
</em>
</p>
</div>
<table class="no_info" summary="주요 시세(전일종가, 시고저가, 거래량, 거래대금)을 제공합니다.">
<caption>주요 시세</caption>
<colgroup><col/><col width="214"/><col width="157"/></colgroup>
<tr>
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">63,800</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">82,900</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt9">거래량</span>
<em>
<span class="blind">55,329</span>
<span class="no5">5</span><span class="no5">5</span><span class="shim">,</span><span class="no3">3</span><span class="no2">2</span><span class="no9">9</span>
</em>
</td>
</tr>
<tr>
<td class="first">
<span class="sptxt sp_txt3">시가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt5">저가</span>
<em class="no_down">
<span class="blind">63,000</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt7">(하한가</span>
<em class="no_cha">
<span class="no4">4</span><span class="no4">4</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt10">거래대금</span>
<em>
<span class="blind">3,499</span>
<span class="no3">3</span><span class="shim">,</span><span class="no4">4</span><span class="no9">9</span><span class="no9">9</span>
</em>
<span class="sptxt sp_txt11">백만</span>
</td>
</tr>
</table>
</div>
------------------------------------------------- 2
<dl class="blind">
<dt><strong>유한양행</strong></dt>
<dd>오늘의시세 63,200 포인트</dd>
<dd>600 포인트 하락</dd>
<dd>0.94% 마이너스</dd>
</dl>
------------------------------------------------- 3
<dt><strong>유한양행</strong></dt>
------------------------------------------------- 4
<strong>유한양행</strong>
------------------------------------------------- 5
<dd>오늘의시세 63,200 포인트</dd>
------------------------------------------------- 6
<dd>600 포인트 하락</dd>
------------------------------------------------- 7
<dd>0.94% 마이너스</dd>
------------------------------------------------- 8
<div class="today">
<p class="no_today">
<em class="no_down">
<span class="blind">63,200</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_down">
<span class="ico down">하락</span>
<span class="blind">600</span>
<span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_down">
<span class="ico minus">-</span>
<span class="blind">0.94</span>
<span class="no0">0</span><span class="jum">.</span><span class="no9">9</span><span class="no4">4</span>
<span class="per">%</span>
</em>
</p>
</div>
------------------------------------------------- 9
<p class="no_today">
<em class="no_down">
<span class="blind">63,200</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
------------------------------------------------- 10
<em class="no_down">
<span class="blind">63,200</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
</em>
------------------------------------------------- 11
<span class="blind">63,200</span>
------------------------------------------------- 12
<span class="no6">6</span>
------------------------------------------------- 13
<span class="no3">3</span>
------------------------------------------------- 14
<span class="shim">,</span>
------------------------------------------------- 15
<span class="no2">2</span>
------------------------------------------------- 16
<span class="no0">0</span>
------------------------------------------------- 17
<span class="no0">0</span>
------------------------------------------------- 18
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_down">
<span class="ico down">하락</span>
<span class="blind">600</span>
<span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_down">
<span class="ico minus">-</span>
<span class="blind">0.94</span>
<span class="no0">0</span><span class="jum">.</span><span class="no9">9</span><span class="no4">4</span>
<span class="per">%</span>
</em>
</p>
------------------------------------------------- 19
<span class="sptxt sp_txt1">전일대비</span>
------------------------------------------------- 20
<em class="no_down">
<span class="ico down">하락</span>
<span class="blind">600</span>
<span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
------------------------------------------------- 21
<span class="ico down">하락</span>
------------------------------------------------- 22
<span class="blind">600</span>
------------------------------------------------- 23
<span class="no6">6</span>
------------------------------------------------- 24
<span class="no0">0</span>
------------------------------------------------- 25
<span class="no0">0</span>
------------------------------------------------- 26
<span class="bar">l</span>
------------------------------------------------- 27
<em class="no_down">
<span class="ico minus">-</span>
<span class="blind">0.94</span>
<span class="no0">0</span><span class="jum">.</span><span class="no9">9</span><span class="no4">4</span>
<span class="per">%</span>
</em>
------------------------------------------------- 28
<span class="ico minus">-</span>
------------------------------------------------- 29
<span class="blind">0.94</span>
------------------------------------------------- 30
<span class="no0">0</span>
------------------------------------------------- 31
<span class="jum">.</span>
------------------------------------------------- 32
<span class="no9">9</span>
------------------------------------------------- 33
<span class="no4">4</span>
------------------------------------------------- 34
<span class="per">%</span>
------------------------------------------------- 35
<table class="no_info" summary="주요 시세(전일종가, 시고저가, 거래량, 거래대금)을 제공합니다.">
<caption>주요 시세</caption>
<colgroup><col/><col width="214"/><col width="157"/></colgroup>
<tr>
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">63,800</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">82,900</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt9">거래량</span>
<em>
<span class="blind">55,329</span>
<span class="no5">5</span><span class="no5">5</span><span class="shim">,</span><span class="no3">3</span><span class="no2">2</span><span class="no9">9</span>
</em>
</td>
</tr>
<tr>
<td class="first">
<span class="sptxt sp_txt3">시가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt5">저가</span>
<em class="no_down">
<span class="blind">63,000</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt7">(하한가</span>
<em class="no_cha">
<span class="no4">4</span><span class="no4">4</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt10">거래대금</span>
<em>
<span class="blind">3,499</span>
<span class="no3">3</span><span class="shim">,</span><span class="no4">4</span><span class="no9">9</span><span class="no9">9</span>
</em>
<span class="sptxt sp_txt11">백만</span>
</td>
</tr>
</table>
------------------------------------------------- 36
<caption>주요 시세</caption>
------------------------------------------------- 37
<colgroup><col/><col width="214"/><col width="157"/></colgroup>
------------------------------------------------- 38
<col/>
------------------------------------------------- 39
<col width="214"/>
------------------------------------------------- 40
<col width="157"/>
------------------------------------------------- 41
<tr>
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">63,800</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">82,900</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt9">거래량</span>
<em>
<span class="blind">55,329</span>
<span class="no5">5</span><span class="no5">5</span><span class="shim">,</span><span class="no3">3</span><span class="no2">2</span><span class="no9">9</span>
</em>
</td>
</tr>
------------------------------------------------- 42
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">63,800</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
------------------------------------------------- 43
<span class="sptxt sp_txt2">전일</span>
------------------------------------------------- 44
<em>
<span class="blind">63,800</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
</em>
------------------------------------------------- 45
<span class="blind">63,800</span>
------------------------------------------------- 46
<span class="no6">6</span>
------------------------------------------------- 47
<span class="no3">3</span>
------------------------------------------------- 48
<span class="shim">,</span>
------------------------------------------------- 49
<span class="no8">8</span>
------------------------------------------------- 50
<span class="no0">0</span>
------------------------------------------------- 51
<span class="no0">0</span>
------------------------------------------------- 52
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">82,900</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
------------------------------------------------- 53
<span class="sptxt sp_txt4">고가</span>
------------------------------------------------- 54
<em class="no_down">
<span class="blind">63,700</span><span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
------------------------------------------------- 55
<span class="blind">63,700</span>
------------------------------------------------- 56
<span class="no6">6</span>
------------------------------------------------- 57
<span class="no3">3</span>
------------------------------------------------- 58
<span class="shim">,</span>
------------------------------------------------- 59
<span class="no7">7</span>
------------------------------------------------- 60
<span class="no0">0</span>
------------------------------------------------- 61
<span class="no0">0</span>
------------------------------------------------- 62
<span class="sptxt sp_txt6">(상한가</span>
------------------------------------------------- 63
<em class="no_cha">
<span class="blind">82,900</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>

------------------------------------------------- 890
<th class="h_th2 th_cop_comp9" scope="row"><span>영업이익증가율(%)</span></th>
------------------------------------------------- 891
<span>영업이익증가율(%)</span>
------------------------------------------------- 892
<td>-48.80</td>
------------------------------------------------- 893
<td>-19.75</td>
------------------------------------------------- 894
<td>26.04</td>
------------------------------------------------- 895
<td>-65.70</td>
------------------------------------------------- 896
<td>392.27</td>
------------------------------------------------- 897
<tr>
<th class="h_th2 th_cop_comp10" scope="row"><span>당기순이익(억)</span></th>
<td>201</td>
<td>610</td>
<td>1,972</td>
<td>315</td>
<td>419</td>
</tr>
------------------------------------------------- 898
<th class="h_th2 th_cop_comp10" scope="row"><span>당기순이익(억)</span></th>
------------------------------------------------- 899
<span>당기순이익(억)</span>
------------------------------------------------- 900
<td>201</td>
------------------------------------------------- 901
<td>610</td>
------------------------------------------------- 902
<td>1,972</td>
------------------------------------------------- 903
<td>315</td>
------------------------------------------------- 904
<td>419</td>
------------------------------------------------- 905
<tr>
<th class="h_th2 th_cop_comp11" scope="row"><span>주당순이익(원)</span></th>
<td>289.61</td>
<td>921.57</td>
<td>1,406.16</td>
<td>203.37</td>
<td>648.99</td>
</tr>
------------------------------------------------- 906
<th class="h_th2 th_cop_comp11" scope="row"><span>주당순이익(원)</span></th>
------------------------------------------------- 907
<span>주당순이익(원)</span>
------------------------------------------------- 908
<td>289.61</td>
------------------------------------------------- 909
<td>921.57</td>
------------------------------------------------- 910
<td>1,406.16</td>
------------------------------------------------- 911
<td>203.37</td>
------------------------------------------------- 912
<td>648.99</td>
------------------------------------------------- 913
<tr>
<th class="h_th2 th_cop_comp12" scope="row"><span>ROE(%)</span></th>
<td>5.44</td>
<td>5.86</td>
<td>18.75</td>
<td>10.54</td>
<td>10.80</td>
</tr>
------------------------------------------------- 914
<th class="h_th2 th_cop_comp12" scope="row"><span>ROE(%)</span></th>
------------------------------------------------- 915
<span>ROE(%)</span>
------------------------------------------------- 916
<td>5.44</td>
------------------------------------------------- 917
<td>5.86</td>
------------------------------------------------- 918
<td>18.75</td>
------------------------------------------------- 919
<td>10.54</td>
------------------------------------------------- 920
<td>10.80</td>
------------------------------------------------- 921
<tr>
<th class="h_th2 th_cop_comp13" scope="row"><span>PER(%)</span></th>
<td>46.10</td>
<td>206.73</td>
<td>61.71</td>
<td>93.28</td>
<td>123.54</td>
</tr>
------------------------------------------------- 922
<th class="h_th2 th_cop_comp13" scope="row"><span>PER(%)</span></th>
------------------------------------------------- 923
<span>PER(%)</span>
------------------------------------------------- 924
<td>46.10</td>
------------------------------------------------- 925
<td>206.73</td>
------------------------------------------------- 926
<td>61.71</td>
------------------------------------------------- 927
<td>93.28</td>
------------------------------------------------- 928
<td>123.54</td>
------------------------------------------------- 929
<tr>
<th class="h_th2 th_cop_comp14" scope="row"><span>PBR(배)</span></th>
<td>2.23</td>
<td>11.77</td>
<td>10.47</td>
<td>9.17</td>
<td>9.43</td>
</tr>
------------------------------------------------- 930
<th class="h_th2 th_cop_comp14" scope="row"><span>PBR(배)</span></th>
------------------------------------------------- 931
<span>PBR(배)</span>
------------------------------------------------- 932
<td>2.23</td>
------------------------------------------------- 933
<td>11.77</td>
------------------------------------------------- 934
<td>10.47</td>
------------------------------------------------- 935
<td>9.17</td>
------------------------------------------------- 936
<td>9.43</td>
------------------------------------------------- 937
<a class="more" href="/sise/sise_group_detail.nhn?type=upjong&amp;no=35" onclick="clickcr(this, 'dle.22', '', '', event);">더보기</a>
------------------------------------------------- 938
<hr/>
------------------------------------------------- 939
<div class="dsc_ifrs2">
<ul>
<li>PER, PBR 수치는 최근 4분기 기준입니다.</li>
<li><em>*</em> 종목은 IFRS (연결) 회계기준을 적용한 종목입니다. (최근 분기보고서 기준이며, 기준 분기는 업종마다 다를 수 있습니다.)</li>
<li>IFRS (연결) 적용 종목의 당기순이익 및 가치지표(주당순이익, PER, PBR)는 지배주주지분을 기준으로 산출하였습니다.</li>
</ul>
</div>
------------------------------------------------- 940
<ul>
<li>PER, PBR 수치는 최근 4분기 기준입니다.</li>
<li><em>*</em> 종목은 IFRS (연결) 회계기준을 적용한 종목입니다. (최근 분기보고서 기준이며, 기준 분기는 업종마다 다를 수 있습니다.)</li>
<li>IFRS (연결) 적용 종목의 당기순이익 및 가치지표(주당순이익, PER, PBR)는 지배주주지분을 기준으로 산출하였습니다.</li>
</ul>
------------------------------------------------- 941
<li>PER, PBR 수치는 최근 4분기 기준입니다.</li>
------------------------------------------------- 942
<li><em>*</em> 종목은 IFRS (연결) 회계기준을 적용한 종목입니다. (최근 분기보고서 기준이며, 기준 분기는 업종마다 다를 수 있습니다.)</li>
------------------------------------------------- 943
<em>*</em>
------------------------------------------------- 944
<li>IFRS (연결) 적용 종목의 당기순이익 및 가치지표(주당순이익, PER, PBR)는 지배주주지분을 기준으로 산출하였습니다.</li>
------------------------------------------------- 945

In [24]:
# 특정 종목 주식의 오늘 시세 값 가져오기

children_info = content_tag.findChildren()
today_price = children_info[9].find("span", class_="blind").text
print("오늘 시세: {}".format(today_price))

유한 양행의 오늘 시세: 63,200

In [33]:
count = 0
for tag in soup.find("p", class_="no_today").children:
    print(tag)
    print("----- 태그 확인 -----")
    count += 1
print("태그 개수: {}".format(count)) # \n, <em></em>, \n 줄바꿈도 태그로 인식한다?

----- 태그 확인 -----
<em class="no_down">
<span class="blind">63,200</span>
<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
</em>
----- 태그 확인 -----


----- 태그 확인 -----
태그 개수: 3

In [67]:
# 5개 주식 종목의 가격과 거래량 가져오기

stock_name = ['삼성전자', '카카오', 'NAVER', '카카오게임즈', '오리온']
stock_code = ['005930', '035720', '035420', '293490', '271560']
stock_price = []
stock_transaction_amount = []
stock_info = {}

base_url = "https://finance.naver.com/item/main.nhn?code="

for i, code in enumerate(stock_code):
    
    all_url = base_url + code
    page = urlopen(all_url)
    soup = BeautifulSoup(page, "lxml")
    
    tmp = soup.find("p", class_="no_today")
    today_price = tmp.find("span", class_="blind").text
    
    table_info = soup.find("table", class_="no_info")
    transaction_amount = table_info.find_all("td")[2].find("span", class_="blind").text
    
    stock_price.append(today_price)
    stock_transaction_amount.append(transaction_amount)

print(stock_name)
print(stock_price)
print(stock_transaction_amount)

['삼성전자', '카카오', 'NAVER', '카카오게임즈', '오리온']
['80,800', '145,500', '391,000', '55,700', '117,500']
['5,561,511', '1,594,601', '222,599', '421,240', '46,993']

### 국내 주식 종목 엑셀 파일을 이용해서 주식 종목의 값과 거래량을 크롤링하기

In [39]:
import pandas as pd

stock_list = pd.read_excel("stock_list.xlsx")
stock_list.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,나우코스,257990,기타 화학제품 제조업,"화장품, 동물용의약외품",2020-12-30,12월,노향선,http://www.nowcos.com/,세종특별자치시
1,에이스캠퍼,322190,자동차 차체 및 트레일러 제조업,캠핑카,2020-12-29,12월,김민성,http://acecamper.co.kr/,충청남도
2,유안타제7호스팩,367460,금융 지원 서비스업,금융지원 서비스,2020-12-28,12월,임율표,NaN,서울특별시
3,루트락,253610,기타 전문 도매업,"인공슬관절, 척추 임플란트(의료기기 도·소매)",2020-12-24,12월,박종진,http://rootloc.com/,서울특별시
4,ESR켄달스퀘어리츠,365550,부동산 임대 및 공급업,부동산투자,2020-12-23,05월,박래익,http://www.esrks-reit.com,서울특별시

In [81]:
stock_names = stock_list['회사명']
stock_code = stock_list['종목코드']

numpy.int64

In [86]:
stock_names = stock_list['회사명']
stock_code = stock_list['종목코드']

stock_price = []
stock_transaction_amount = []
stock_info = {}

base_url = "https://finance.naver.com/item/main.nhn?code="

# 주식 종목 50개의 현재가와 거래량 가져오기

for i in range(50):
    
    all_url = base_url + str(stock_code[i])
    page = urlopen(all_url)
    soup = BeautifulSoup(page, "lxml")
    
    tmp = soup.find("p", class_="no_today")
    if tmp == None:
        continue
    today_price = tmp.find("span", class_="blind").text
   
        
    table_info = soup.find("table", class_="no_info")
    transaction_amount = table_info.find_all("td")[2].find("span", class_="blind").text
    
    price_transaction = []
    price_transaction.append(today_price)
    price_transaction.append(transaction_amount)
    stock_info[stock_names[i]] = price_transaction


print(stock_info)

{'나우코스': ['7,230', '71']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340']}

{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226']}

{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239']}

{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239'], '티와이홀딩스': ['29,000', '42,395']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239'], '티와이홀딩스': ['29,000', '42,395'], '비비씨': ['19,100', '4,246']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239'], '티와이홀딩스': ['29,000', '42,395'], '비비씨': ['19,100', '4,246'], '교보10호기업인수목적': ['2,120', '12,595']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239'], '티와이홀딩스': ['29,000', '42,395'], '비비씨': ['19,100', '4,246'], '교보10호기업인수목적': ['2,120', '12,595'], '핌스': ['19,350', '9,156']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239'], '티와이홀딩스': ['29,000', '42,395'], '비비씨': ['19,100', '4,246'], '교보10호기업인수목적': ['2,120', '12,595'], '핌스': ['19,350', '9,156'], '압타머사이언스': ['21,000', '11,971']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239'], '티와이홀딩스': ['29,000', '42,395'], '비비씨': ['19,100', '4,246'], '교보10호기업인수목적': ['2,120', '12,595'], '핌스': ['19,350', '9,156'], '압타머사이언스': ['21,000', '11,971'], '이오플로우': ['56,000', '13,550']}
{'나우코스': ['7,230', '71'], '에이스캠퍼': ['1,590', '3'], '유안타제7호스팩': ['2,125', '11,817'], '루트락': ['2,925', '2,312'], 'ESR켄달스퀘어리츠': ['7,630', '118,433'], '대신밸런스제9호스팩': ['2,150', '12,171'], '석경에이티': ['19,550', '3,450'], '지놈앤컴퍼니': ['35,800', '36,925'], '프리시젼바이오': ['15,800', '17,566'], '알체라': ['31,550', '91,501'], '엔에이치스팩18호': ['2,170', '0'], '에이치엠씨제5호스팩': ['2,115', '18,962'], '티엘비': ['36,600', '30,039'], '씨엔티드림': ['8,200', '806'], '인바이오': ['11,050', '36,524'], '엔젠바이오': ['20,000', '18,241'], 'DB금융스팩8호': ['2,110', '11,471'], '퀀타매트릭스': ['13,750', '24,984'], '클리노믹스': ['15,050', '17,699'], '포인트모바일': ['23,050', '38,271'], '앱코': ['23,300', '178,612'], '엔에프씨': ['15,700', '6,991'], '제일전기공업': ['22,250', '40,340'], '하나기술': ['62,700', '18,720'], '에이플러스에셋': ['8,330', '59,517'], '티앤엘': ['83,700', '302,295'], '고바이오랩': ['31,650', '24,092'], '네패스아크': ['42,900', '8,396'], '교촌에프앤비': ['19,700', '42,944'], '소룩스': ['17,150', '10,325'], '위드텍': ['23,400', '8,148'], '센코': ['19,700', '10,326'], '바이브컴퍼니': ['30,150', '7,226'], '원포유': ['2,200', '1'], '미코바이오메드': ['14,700', '39,337'], '피플바이오': ['25,300', '190,553'], '빅히트': ['297,500', '169,444'], '넥스틴': ['69,200', '49,944'], '비나텍': ['43,400', '5,924'], '엔에이치스팩17호': ['2,150', '15,512'], '박셀바이오': ['93,500', '182,239'], '티와이홀딩스': ['29,000', '42,395'], '비비씨': ['19,100', '4,246'], '교보10호기업인수목적': ['2,120', '12,595'], '핌스': ['19,350', '9,156'], '압타머사이언스': ['21,000', '11,971'], '이오플로우': ['56,000', '13,550']}